* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-red: #e3646e;
    --color-purple: #bb72e9;
    --color-blue: #3996db;
    --color-green: #82bc4f;
    --color-yellow: #eabd5f;
    --color-gray-100: #0d0e11;
    --color-gray-200: #16181d;
    --color-gray-300: #292c34;
    --color-gray-400: #878ea1;
    --color-gray-500: #c0c4ce;
    --color-gray-600: #e2e4e9;

    --font-family-asap: 'asap', sans-serif;
    --font-family-inconsolata: 'inconsolata' sans-serif;
    --font-family-maven-pro: 'maven pro' sans-serif;
    --title-lg: 56px/120% var(--font-family-asap);
    --title-md: 24px/120% var(--font-family-asap);
    --title-sm: 16px/120% var(--font-family-asap);
    --subtitle: 20px/120% var(--font-family-inconsolata);
    --text-md: 16px/140% var(--font-family-maven-pro);
    --text-sm: 14px/140% var(--font-family-maven-pro);
}

body {
    background-color: var(--color-gray-200);
    color: var(--color-gray-500);
}

.title-lg,
.title-md,
.title-sm {
    font-family: var(--font-family-asap);
    font-weight: 700;
}

.title-lg {
    color: var(--color-gray-600);
    font-size: 3.5rem;
}

.title-md {
    font-size: 1.5rem;
    color: var(--color-gray-600)
}

.title-sm {
    font-size: 1rem;
    color: var(--color-gray-600);
}

.subtitle {
    color: var(--color-gray-500);
    font-family: var(--font-family-inconsolata);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.text-md,
.text-sm {
    font-family: var(--font-family-maven-pro);
    font-weight: 400;
}

.text-md {
    color: var(--color-gray-500);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    gap: 0.5rem;

}

.text-sm {
    font-size: 0.875rem;
    color: var(--color-gray-500);
}

.container {
    max-width: calc(65rem + 4rem);
    margin: 0 auto;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .title-lg {
        font-size: 2.5rem;
        line-height: 110%;
    }
}